## Hamoye Practice - Stage A      ~ Victor Francis

### Basic libraries importation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Exploring the Dataset

In [8]:
fuel_df = pd.read_csv('hamoye_fuel_data.csv')
fuel_df.head(8)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590000,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592000,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130000,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950000,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000000,2.77,2.77,2.570
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933.0,23.922000,44.24,43.25,1.850
6,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,nuclear,kgU,2260.0,0.064094,28.77,0.00,0.450
7,f1_fuel_1994_12_2_1_10,2,1994,resondent's portion,coal,ton,5372133.0,24.840000,58.54,55.13,2.360

In [9]:
fuel_df.shape

(29523, 11)

In [11]:
fuel_df.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [14]:
fuel_df.report_year.unique()

array([1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018], dtype=int64)

In [14]:
fuel_df.fuel_unit.value_counts()

mcf       11354
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

In [15]:
fuel_df.fuel_type_code_pudl.value_counts()

gas        11486
coal        8547
oil         8064
nuclear      818
waste        441
other        167
Name: fuel_type_code_pudl, dtype: int64

In [24]:
fuel_df.skew()

utility_id_ferc1                  0.605158
report_year                       0.006979
fuel_qty_burned                  15.851254
fuel_mmbtu_per_unit               4.135218
fuel_cost_per_unit_burned        19.787102
fuel_cost_per_unit_delivered    105.012448
fuel_cost_per_mmbtu              58.439028
dtype: float64

In [17]:
fuel_df.groupby(['fuel_type_code_pudl','fuel_unit'])['fuel_unit'].sum()

fuel_type_code_pudl  fuel_unit
coal                 bbl                                                        bbl
                     mcf                                            mcfmcfmcfmcfmcf
                     mmbtu        mmbtummbtummbtummbtummbtummbtummbtummbtummbtum...
                     ton          tontontontontontontontontontontontontontontont...
gas                  bbl                                                     bblbbl
                     mcf          mcfmcfmcfmcfmcfmcfmcfmcfmcfmcfmcfmcfmcfmcfmcfm...
                     mmbtu        mmbtummbtummbtummbtummbtummbtummbtummbtummbtum...
                     ton                                               tontontonton
nuclear              gramsU       gramsUgramsUgramsUgramsUgramsUgramsUgramsUgram...
                     kgU          kgUkgUkgUkgUkgUkgUkgUkgUkgUkgUkgUkgUkgUkgUkgUk...
                     mmbtu        mmbtummbtummbtummbtummbtummbtummbtummbtummbtum...
                     mwdth        mwdthmwdthmwdthmwdthmwdthmwdthmwdthmwdthmwdthm...
                     mwhth        mwhthmwhthmwhthmwhthmwhthmwhthmwhthmwhthmwhthm...
oil                  bbl          bblbblbblbblbblbblbblbblbblbblbblbblbblbblbblb...
                     gal          galgalgalgalgalgalgalgalgalgalgalgalgalgalgalg...
                     mcf                                      mcfmcfmcfmcfmcfmcfmcf
                     ton                                                  tontonton
other                bbl          bblbblbblbblbblbblbblbblbblbblbblbblbblbblbblb...
                     gal                                                  galgalgal
                     mcf                                mcfmcfmcfmcfmcfmcfmcfmcfmcf
                     ton          tontontontontontontontontontontontontontontont...
waste                bbl                                                        bbl
                     ton          tontontontontontontontontontontontontontontont...
Name: fuel_unit, dtype: object

In [18]:
fuel_df.groupby(['fuel_type_code_pudl','fuel_unit'])['fuel_unit'].count().nlargest(8)

fuel_type_code_pudl  fuel_unit
gas                  mcf          11333
coal                 ton           8438
oil                  bbl           7952
nuclear              gramsU         464
waste                ton            436
nuclear              kgU            110
                     mwhth          100
                     mwdth           95
Name: fuel_unit, dtype: int64

In [27]:
fuel_df.groupby(['fuel_type_code_pudl'])['fuel_unit'].count()

fuel_type_code_pudl
coal        8496
gas        11433
nuclear      803
oil         8043
other        131
waste        436
Name: fuel_unit, dtype: int64

In [28]:
fuel_df['fuel_unit'] = fuel_df.groupby(['fuel_type_code_pudl'])['fuel_unit'].transform(lambda x: x.fillna(x.mode()[0]))

In [19]:
fuel_df.isna().any()

record_id                       False
utility_id_ferc1                False
report_year                     False
plant_name_ferc1                False
fuel_type_code_pudl             False
fuel_unit                        True
fuel_qty_burned                 False
fuel_mmbtu_per_unit             False
fuel_cost_per_unit_burned       False
fuel_cost_per_unit_delivered    False
fuel_cost_per_mmbtu             False
dtype: bool